doctype html
html(lang="en")
  head
    title Sound Demo
    meta(name="viewport", content="width=device-width, minimum-scale=1.0")
    link(rel="stylesheet", href="stylesheets/main.css")
  body
    h1 Jade - node template engine
    script(src='./pixi.js')
    script(src='javascripts/bundle.js')
