doctype html
html(lang="en")
  head
    title Sound Demo
    link(rel="stylesheet", href="stylesheets/main.css")
  body
    h1 Jade - node template engine
    script(src='javascripts/bundle.js')
    script.
      require('main')
